*, 
body, 
div, 
p, 
img, 
a, 
ul, 
li, 
h1, 
h2, 
h3, 
header, 
main, 
footer {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body,
header,
main,
footer {
    display: flex;
    display: -webkit-flex;
    width: 100%;
    -webkit-flex-row: row wrap;
    flex-flow: row wrap;
    flex-wrap: wrap;
}
#map {
  background-color: gray;
  height: 50vh;
}
