@import url('https://fonts.googleapis.com/css?family=Inika&display=swap" rel="stylesheet');

*, 
body, 
div, 
p, 
img, 
a, 
ul, 
li, 
h1, 
h2, 
h3, 
header, 
main,
.sidebar, 
#map,
footer {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Inika', serif; 
}

body,
header,
main,
.sidebar,
.list-place,
#map,
.map-error,
.map-error-wait,
footer {
    display: flex;
    display: -webkit-flex;
    width: 100%;
    -webkit-flex-row: row wrap;
    flex-flow: row wrap;
    flex-wrap: wrap;  
}
.main {
    width: 100vw;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.header-title {
    padding: 10px 0 5px 20px;
    color: rgb(109, 4, 170);
    font-size: 1.2em;
}
.menu-button {
    padding: 10px;
    font-size: 1.2em;
    width: 50px;
    color: rgb(66, 10, 63);
    border: none;
    background-color: rgb(207, 205, 207);
}
.sidebar {
    width: 100vw;
    position: absolute;
    z-index: 10;
    order: 1;
    flex-flow: column;
    background-color: rgb(109, 4, 170);
    color: white;
    padding: 20px 20px 25px 20px;
}
.error-foursquare {
    color: white;
}
input {
    font-size: 120%;
    color: rgb(109, 4, 170);
}
.sidebar-list {
    list-style: none;
    margin: 18px 20px 0 0;
    padding: 0px 10px 0 0;
    width: 90vw;
    height: calc(73vh - 33px);
    overflow-y: scroll;
}
.sidebar-list li {
    padding: 5px 0 15px 0;
    line-height: 150%;
    margin: 0 20px 0 0;
    width: 100%;
}
.sidebar-list li:hover {
    padding: 7px 0 15px 10px;
    background-color:  rgb(101, 6, 156);
}
.list-place {
    width: 100%;
    cursor: pointer;
}
.venue-number {
    color: rgb(66, 10, 63);
    line-height: 80%;
    font-size: 150%;
    padding: 0 13px 0 0;
}
.venue-title {
    line-height: 140%;
    display: block;
    width: 100%;
}
.venue-address {
    padding: 4px 0 0 0;
    font-size: 90%;
    color: rgb(231, 176, 248);
    line-height: 120%;
}
#map {
    background-color: rgb(207, 205, 207);
    height: 80vh;
    width: 100vw;
    order: 10
}
.map-error {
    height: 80vh;
    justify-content: center;
    align-content: center;
    font-size: 2em;
}
.map-error-wait {
    justify-content: center;
    align-content: center;
    color: rgb(109, 4, 170);
}
footer {
    width: 100vw;
    align-content: flex-end;
    justify-content: flex-end;
    color: white;
    font-size: 80%;
    padding: 15px 20px 0 0; 
}
.footer-api {
    color:rgb(216, 127, 243);
    padding: 0 20px 0 0;
}
.footer-signature {
    background-color: rgb(207, 205, 207);
}

@media all and (min-width: 450px) and (max-width:750px) and (orientation: portrait) {
    .sidebar {
        width: 50vw;
       
    }
    .sidebar-list {
        width: 45vw;  
        height: calc(42vh - 33px);
    }
    .header-title { 
        font-size: 1.4em;
    }
 }

 @media all and (min-width: 450px) and (max-width:750px) and (orientation: landscape) {
    .sidebar {
        width: 50vw;
       
    }
    .sidebar-list {
        width: 45vw;  
        height: calc(72vh - 33px);
    }
    .header-title { 
        font-size: 1.4em;
    }
 }

 @media all and (min-width: 751px) and (max-width:1023px) and (orientation: portrait) {
    .sidebar {
        width: 40vw;
       
    }
    .sidebar-list {
        width: 36vw;  
        height: calc(42vh - 33px);
    }
    .header-title { 
        font-size: 1.6em;
    }
 }

 @media all and (min-width: 751px) and (max-width:980px) and (orientation: landscape) {
    .sidebar {
        width: 40vw;
       
    }
    .sidebar-list {
        width: 36vw;  
        height: calc(70vh - 33px);
    }
    .header-title { 
        font-size: 1.6em;
    }
 }

 @media all and (min-width: 1024px) and (orientation: portrait) {
    .sidebar {
        width: 30vw;
    }
    .sidebar-list {
        width: 27vw;  
        height: calc(35vh - 33px);
    }
    .header-title { 
        font-size: 1.8em;
    }
 }
 @media all and (min-width: 981px) and (orientation: landscape) {
    .sidebar {
        width: 30vw;
    }
    .sidebar-list {
        width: 27vw;  
        height: calc(71vh);
    }
    .header-title { 
        font-size: 1.8em;
    }
 }