@import url('https://fonts.googleapis.com/css?family=Inika&display=swap" rel="stylesheet');

*, 
body, 
div, 
p, 
img, 
a, 
ul, 
li, 
h1, 
h2, 
h3, 
header, 
main,
.sidebar, 
#map,
footer {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Inika', serif; 
}

body,
header,
main,
.sidebar,
#map,
footer {
    display: flex;
    display: -webkit-flex;
    width: 100%;
    -webkit-flex-row: row wrap;
    flex-flow: row wrap;
    flex-wrap: wrap;
    
}
.main {
    width: 100vw;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.header-title {
    padding: 10px 0 5px 20px;
}
.menu-button {
    padding: 10px;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}
.sidebar {
    width: 22vw;
    position: absolute;
    z-index: 10;
    order: 1;
    flex-flow: column;
    background-color: rgb(109, 4, 170);
    color: white;
    padding: 20px 20px 25px 20px;
}
.sidebar-list {
    list-style: none;
    margin: 18px 0 0 0;
    padding: 0px 0 0 0;
    width: 20vw;
    height: calc(70vh - 25px);
    overflow-y: scroll;
}
.sidebar-list li {
    padding: 10px 0 0 0;
    line-height: 150%;
}
.venue-number {
    color: black;
    line-height: 80%;
    font-size: 150%;
    padding: 0 10px 0 0;
}
#map {
    background-color: gray;
    height: 80vh;
    width: 100vw;
    order: 10
}
